@media (max-width: 1024px) {
  .header-list,
  ._dote,
  .exic {
    display: none;
  }
  .header-list._active {
    display: flex;
  }
  .header-list._active .exit {
    display: block;
  }
  ._active {
    display: none;
    background: hsl(0, 0%, 100%, 0.5);
    width: 90vh;
    height: 70vh;
    position: absolute;
    top: -29%;
    right: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
    transition: 1s all;
    animation: anim 2s;
  }
  @keyframes anim {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .span-open,
  ._dote.swip > .exic {
    display: inline-block;
  }
  ._dote.swip {
    background: #ededed;
    display: inline-block;
    height: 187px;
  }
}
.exit {
  display: none;
}

@media (max-width: 580px) {
  ._active {
    right: 50%;
    transform: translateX(50%);
  }
  @keyframes anim {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(50%);
    }
  }
}
